<!DOCTYPE html>
<html>
<head>
    <title> Connexion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css') }}">

</head>
<body class="center">
    <div class="login">
        <img src="{{ url_for('static', filename='img/logo.png') }}">
        <h1>Connectez-vous à votre compte</h1>
		<form method="POST" action="/login">
			<input type="text" id="username" name="username" placeholder="Identifiant:"><br>
			<input type="password" id="password" name="password" placeholder="Mot de passe:"><br><br>
			<input type="submit" value="Se connecter">
		</form>
		
    </div>
</body>
</html>
